footer {
  display: flex;
  justify-content: center;

  .footer-container {
    height: 50px;
    margin: 30px 0;
  }

  p {
    font-size: 0.8rem;

    @include small {
      font-size: 1.2rem;
    }
  }
}
