@import "./media.scss";

header {
  min-width: 280px;
  height: 100px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom: 1px solid #ddd;

  @include small {
    min-width: 460px;
  }

  @include medium {
    min-width: 728px;
  }

  @include large {
    min-width: 1024px;
  }

  h1 {
    font-size: 2rem;

    @include small {
      font-size: 2.5rem;
    }
  }

  span {
    font-size: 2rem;

    @include small {
      font-size: 2.5rem;
    }
  }
}
